.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

.footer h5 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer p {
    margin: 0;
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block; /* Щоб відступи між іконками працювали */
    margin-right: 15px; /* Відступ між посиланнями */
}

.social-link:last-child {
    margin-right: 0; /* Забрати правий відступ у останнього елемента */
}

.social-link:hover {
    text-decoration: underline;
}

.footer-rights {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
