/* Posts.css */
/* src/components/Posts.css */
/* src/components/Posts.css */
/* src/components/Posts.css */
/* src/components/Posts.css */
.info-block {
    background-color: #f8f9fa; /* Світло-сірий фон */
    padding: 20px; /* Внутрішні відступи */
    border-radius: 8px; /* Округлені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    margin-bottom: 40px; /* Нижній відступ */
    margin-top: 40px; /* Верхній відступ */
    color: #000; /* Чорний колір тексту */
}

.info-block h2 {
    margin-bottom: 20px; /* Відступ між заголовком і кнопкою */
    color: #000; /* Чорний колір заголовка */
}

.info-block .btn-primary {
    font-size: 18px; /* Збільшуємо розмір тексту кнопки */
    padding: 10px 20px; /* Додаємо відступи всередині кнопки */
}

.card-body {
    padding: 20px;
}

.image-gallery-slide img {
    width: 100%;
    height: auto; /* Ensure the image maintains aspect ratio */
}

/* Adjust title and text alignment for different screen sizes */
.card-title,
p {
    font-size: 1.1em;
}

/* Center the button on small screens */
.text-center button {
    margin-top: 20px;
}

/* Media queries for further adjustments */
@media (max-width: 576px) {
    .card-title,
    p {
        font-size: 1em; /* Slightly smaller text on very small screens */
    }

    .image-gallery-slide img {
        height: auto; /* Keep images responsive */
    }

    .text-center {
        padding-bottom: 20px;
    }
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Співвідношення 16:9 (висота/ширина * 100) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
