/* src/components/TattooInfo.css */
.tattoo-info {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black; /* Додаємо цей рядок для встановлення чорного кольору тексту */
}

.image-placeholder {
    text-align: center;
}

.image-placeholder img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
