/* App.css */
.section-margin {
    margin-bottom: 20px; /* Задайте бажаний відступ між секціями */
}

.App {
    background-color: black; /* Задайте чорний фон для всього додатку */
    color: white; /* Задайте білий колір тексту */
}
/* Додаємо стилі для заголовків по центру */
.center-text {
    text-align: center;
    margin-top: 20px; /* Для додавання відступу від інших елементів */
    margin-bottom: 20px; /* Для додавання відступу після заголовку */
}
