/* App.css */
.section-margin {
    margin-bottom: 20px; /* Задайте бажаний відступ між секціями */
}

.App {
    background-color: black; /* Задайте чорний фон для всього додатку */
    color: white; /* Задайте білий колір тексту */
}
